.navbar .navbar-brand img {
    width: 85px;
    height: 85px;
}

/***************** wheel *********************/
text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    pointer-events: none;
}

#chart {
    position: relative;
    width: 500px;
    height: 500px;
    top: 5px;
    left: -30%;
}

#question {
    position: relative;
    top: -315px;
    left: 286px;
}

#question h1 {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
    top: 80px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}